<form>
	<label for="title" >Título: </label>
	<br>
	<input id="title" type="text" name="titulo">
	
	<br>
	<label for="content">Conteúdo: </label>
	<br>
	<textarea id="content" name="conteudo"></textarea>
	
	<br>
	<button type="submit">Cadastrar postagem</button>
</form>