<form action="/add" method="POST">
	<label for="title" >Título: </label>
	<br>
	<input id="title" type="text" name="title">
	
	<br>
	<label for="content">Conteúdo: </label>
	<br>
	<textarea id="content" name="content"></textarea>
	
	<br>
	<button type="submit">Cadastrar postagem</button>
</form>